header{
    background-color: #201a3a;
    background-image: linear-gradient(90deg,#4458be,#201a3a);
  }
  header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    header li {
      float: right;
    }
    header li a {
      display: block;
      padding: 8px;
      
      text-align: center;
      padding: 20px 60px;
      text-decoration: none;
      color: cornsilk;
    }

    #logo{

      float: left;
      height: 4rem;
       width:auto;
 


    }



     
.topright {
    position: absolute;
    top: 65px;
    left: 130px;
    font-size: 4.5vw;
    color: white;
  }

  .topright button{
    font-size: 2vw;
  }


      
.topright1 {
  position: absolute;
  bottom: -270px;
  right: 130px;
  font-size: 4.5vw;
  color: white;
}



.topright1 button{
  font-size: 2vw;
}




    @media screen and (max-width: 600px){ 

  .topnav {
    overflow: hidden;
    
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a.icon {
  background: brown;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}



}

